<div class="row table-contacts">
  <div class="col-xs-12 text-center">
    <h1>Meus Contatos</h1>
  </div>

  <div class="col-md-8 colmd-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th colspan="2">
            Ações
            <%= link_to 'Novo Contato', new_contact_path, class: 'btn btn-success'  %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @contacts.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <h3>Não existem contatos cadastrados.</h3>
              <%= link_to 'Clique Aqui', new_contact_path %> para cadastrar um novo contato
            </td>
          </tr>
        <% end %>
        <% @contacts.each do |c| %>
          <tr>
            <td>
              <%= c.name %>
            </td>
            <td>
              <%= c.phone %>
            </td>
            <td>
              <%= link_to 'Editar', edit_contact_path(c), class: 'btn btn-warning' %>
            </td>
            <td>
              <%= link_to 'Excluir', contact_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir contato?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>