<div class="row data-forms">
    <div class="col-md-6 col-xs-12">
        <h1>Adicionar Novo Contato</h1>
    </div>

    <div class="col-md-6 col-xs-12">
        <%= form_for @contact do |f| %>
            <%= render 'form', f: f %>
            <%= f.submit 'Salvar', class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>