<p id="notice"><%= notice %></p>

<div class="row header-page">
  <div class="col-md-6 col-xs-6 title-page">
    <h1>Produtos</h1>
  </div>
  
  <div class="col-md-6 col-xs-6 button-page">
    <%= link_to 'Novo Produto', new_product_path, class: 'btn btn-success' %>
  </div>
</div>
<div class="row content-cards">
  <% @products.each do |product| %>
    <div class="col-md-3 col-xs-3 col-card">
      <div class="row">
        <div class="card">
          <%= image_tag product.avatar.url(:large) %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><i>categoria: <%= product.category %></i></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><%= link_to 'Exibir', product %></li>
            <li><%= link_to 'Editar', edit_product_path(product), class: 'btn-warning' %></li>
            <li><%= link_to 'Excluir', product, method: :delete, class: 'btn-danger', data: { confirm: 'Tem certeza que deseja excluir contato?' } %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!--
<p id="notice"><%= notice %></p>

<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @products.each do |product| %>
      <tr>
        <td><%#= product.name %></td>
        <td><%#= product.category %></td>
        <td><%#= link_to 'Show', product %></td>
        <td><%#= link_to 'Edit', edit_product_path(product) %></td>
        <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'Novo Produto', new_product_path, class: 'btn btn-success' %>
-->